@import "compass/css3";

/* CONFIG */

$avatar-image-size: 70px;
$avatar-border-width-ratio: 0.07;
$avatar-border-width: $avatar-image-size * $avatar-border-width-ratio;
$avatar-label-text-size: 28px;

/* AVATAR */

.avatar { 
  display: inline-block;
}
  
.avatar__image {
  display: block;
  max-width: 80%;
  margin: 0 auto 10px;
  border-radius: $avatar-image-size / 2;
  box-shadow: 0 0 0 $avatar-border-width white, 
              0 0 ($avatar-border-width * 1.7) 1px black,
              0 ($avatar-border-width + 3px) 5px rgba(0, 0, 0, 0.2);
  width: $avatar-image-size - ($avatar-border-width * 2);
  height: $avatar-image-size - ($avatar-border-width * 2);
}
  
.avatar__label {
  text-align: center;
  font-size: $avatar-label-text-size;
}

body {

  background-color: #E0FFFF}

h1 {
    background-color: #E0FFFF;
}


/* Full-width input fields */
input[type=text]{
    height: 70px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: ;
    color: block;
}
input[type=button]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%
}
